@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@200;300;500;600&display=swap');

.container {
width: 800px;
margin:  auto;
}

.quote {
    margin: auto;
    width: 300px;
    
}
.quote-author {
    padding: 20px;
}
blockquote {
    background-color: #bbd3bf;
    border-left: 10px solid #113e21;
    margin: 1.5em 10px;
    padding: 1.5em 9px;
    width: 300px;
    height: 160px;
    quotes: "\201C""\201D""\2018""\2019";
    box-shadow: 0 20px 90px -50px #0e0d0d;
    border-radius: 8px;
    
}
blockquote::before{
    /* color: #614829; */
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;

}

.span {
    padding: 5px 7px;
    border: 0px;  
    border-radius: 16px;
    width: 40px;
    height: 30px;
    color:#fff;
    font-size:0.9em;
    background-color: #113e21;
    margin: 8px;
}
.last-text {
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    text-align: center;
    color: #113e21;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 500px;
        margin:  auto;
        }
    blockquote {
        margin: 1.1em 8px;
        padding: 1.5em 9px;
        width: 220px;
        height: 220px;
        quotes: "\201C""\201D""\2018""\2019";
        
    }
    blockquote::before{
        color: #a09f9f;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    
    }
}